PORT=3000
AGENT_SECRET=replace-with-a-long-random-string

WOOCOMMERCE_URL=https://nationwidepeptides.com
WOOCOMMERCE_CONSUMER_KEY=ck_xxxxxxxx
WOOCOMMERCE_CONSUMER_SECRET=cs_xxxxxxxx

TWILIO_ACCOUNT_SID=ACxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxx
TWILIO_FROM_NUMBER=+18652768862

RESEND_API_KEY=re_xxxxxxxx
